@import "variables";

body {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  //background-image: linear-gradient(to right, #434343 0%, black 100%);
  //color: #ffffff;
}


a {
  text-decoration: none;
  color: $color-black;
  transition: color 0.3s;

  &:hover {
    color: $color-gray;
  }
}
