@import "../variables";

.blog-wrapper {
  margin: 16px;
  min-height: 82vh;
}

@media (min-width: $breakpoint-mobile) {
  .blog-wrapper {
    margin: 16px 480px;

    h1 {
      font-size: 48px;
    }
  }
}